<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himi.love.mapper.CoupleMapper">
    <resultMap id="BaseResultMap" type="com.himi.love.model.Couple">
        <id column="CoupleID" jdbcType="INTEGER" property="coupleID" />
        <result column="UserID1" jdbcType="INTEGER" property="userID1" />
        <result column="UserID2" jdbcType="INTEGER" property="userID2" />
        <result column="AnniversaryDate" jdbcType="DATE" property="anniversaryDate" />
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM Couple WHERE CoupleID = #{coupleId}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM Couple
    </select>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT * FROM Couple WHERE UserID1 = #{userId} OR UserID2 = #{userId}
    </select>

    <select id="findByUserIds" resultMap="BaseResultMap">
        SELECT * FROM Couple WHERE (UserID1 = #{userID1} AND UserID2 = #{userID2}) OR (UserID1 = #{userID2} AND UserID2 = #{userID1})
    </select>

    <insert id="insert" parameterType="com.himi.love.model.Couple" useGeneratedKeys="true" keyProperty="coupleID">
        INSERT INTO Couple (UserID1, UserID2, AnniversaryDate)
        VALUES (#{userID1}, #{userID2}, #{anniversaryDate})
    </insert>

    <update id="update" parameterType="com.himi.love.model.Couple">
        UPDATE Couple
        SET UserID1 = #{userID1},
            UserID2 = #{userID2},
            AnniversaryDate = #{anniversaryDate}
        WHERE CoupleID = #{coupleID}
    </update>

    <delete id="deleteById">
        DELETE FROM Couple WHERE CoupleID = #{coupleId}
    </delete>
</mapper>