<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himi.love.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="com.himi.love.model.Image">
        <id column="ImageID" jdbcType="INTEGER" property="imageID" />
        <result column="ImageURL" jdbcType="VARCHAR" property="imageURL" />
        <result column="PostID" jdbcType="INTEGER" property="postID" />
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM Image WHERE ImageID = #{imageId}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM Image
    </select>

    <select id="findByPostId" resultMap="BaseResultMap">
        SELECT * FROM Image WHERE PostID = #{postId}
    </select>

    <select id="findByCoupleId" resultMap="BaseResultMap">
        SELECT i.* 
        FROM Image i
        JOIN Post p ON i.PostID = p.PostID
        WHERE p.CoupleID = #{coupleId}
    </select>

    <insert id="insert" parameterType="com.himi.love.model.Image" useGeneratedKeys="true" keyProperty="imageID">
        INSERT INTO Image (ImageURL, PostID)
        VALUES (#{imageURL}, #{postID})
    </insert>

    <update id="update" parameterType="com.himi.love.model.Image">
        UPDATE Image
        SET ImageURL = #{imageURL},
            PostID = #{postID}
        WHERE ImageID = #{imageID}
    </update>

    <delete id="deleteById">
        DELETE FROM Image WHERE ImageID = #{imageId}
    </delete>
</mapper>