<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himi.love.mapper.MoodMapper">
    <resultMap id="BaseResultMap" type="com.himi.love.model.Mood">
        <id column="MoodID" jdbcType="INTEGER" property="moodID" />
        <result column="UserID" jdbcType="INTEGER" property="userID" />
        <result column="MoodName" jdbcType="VARCHAR" property="moodName" />
        <result column="MoodIcon" jdbcType="VARCHAR" property="moodIcon" />
        <result column="StartTime" jdbcType="TIMESTAMP" property="startTime" />
        <result column="EndTime" jdbcType="TIMESTAMP" property="endTime" />
        <result column="IsDeleted" jdbcType="BOOLEAN" property="isDeleted" />
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        SELECT * FROM Mood WHERE MoodID = #{moodId} AND IsDeleted = false
    </select>

    <select id="findByUserId" resultMap="BaseResultMap">
        SELECT * FROM Mood WHERE UserID = #{userId} ORDER BY StartTime DESC
    </select>

    <select id="findCurrentMoodByUserId">
        SELECT * FROM Mood WHERE UserID = #{userId} AND EndTime IS NULL AND IsDeleted = false
    </select>

    <insert id="insert" parameterType="com.himi.love.model.Mood" useGeneratedKeys="true" keyProperty="moodID">
        INSERT INTO Mood (UserID, MoodName, MoodIcon, StartTime, IsDeleted)
        VALUES (#{userID}, #{moodName}, #{moodIcon}, #{startTime}, #{isDeleted})
    </insert>

    <update id="update" parameterType="com.himi.love.model.Mood">
        UPDATE Mood
        SET MoodName = #{moodName}, MoodIcon = #{moodIcon}, EndTime = #{endTime}, IsDeleted = #{isDeleted}
        WHERE MoodID = #{moodID}
    </update>

    <update id="softDelete">
        UPDATE Mood SET IsDeleted = true WHERE MoodID = #{moodId}
    </update>
</mapper>